html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    background-color: #ffff;
    font-family: nunito;
}

header{
    background-color:#E0C8B9;
footer{
    
}