html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
body{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    background-color: #ffff;
    font-family: 'Nunito', sans-serif;
    
}

header{
    background-color:#DBCFBF;
    display: flex;
    justify-content: space-between;
}

header nav{
    width: 100%;
    height: 100;

  }
  nav{
      display: flex;
      color: black;
      margin: 0 0px;
      justify-content: space-between;
      padding: 10px;
  }

  nav h1{
      font-weight: bolder;
  }
  
  a{
      text-decoration: none;
      
  }

  nav li{
    margin: 10px;
  }

  ul li{
    display: inline-block;
    font-weight: bolder;
  }

nav img{
    width: 100px;
    height: 100%;
    margin-top: 0px;
    float: left;
  }


  article img{
    float: right;
  }
  



footer{
 display: flex;
 justify-content: space-between;
 background-color: #22365E;
 position: absolute;
 width: 100%;
 bottom: 0;
}

footer .kontakt{
  font-size: 20px;
  margin: 2.2%;
  margin-left: 7%;
  margin-right: 7%;
  color: white;
}

.adresse, .åbningstider, .kontakt-SoMe{
  font-weight: bold;
}


footer .instagram img{
  height: 50px;
  width: 50px;
}